default_stages: [pre-push]

repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --check
        language: system
        types: [python]
        args: [src, tests]
        pass_filenames: false
        stages: [pre-push]

      - id: ruff-lint
        name: ruff lint
        entry: uv run ruff check
        language: system
        types: [python]
        args: [src, tests]
        pass_filenames: false
        stages: [pre-push]

      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        args: [src, tests]
        pass_filenames: false
        stages: [pre-push]

      - id: pyright
        name: pyright
        entry: uv run pyright
        language: system
        types: [python]
        args: [src, tests]
        pass_filenames: false
        stages: [pre-push]

      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        types: [python]
        args: [tests, -v]
        pass_filenames: false
        stages: [pre-push]
